Sergio_Saura_LM_ACT_UT05_01/Act8/sauralibros.dtd

<!ELEMENT libros (libro+)>
<!ELEMENT libro (titulo, autor, genero, anioPublicacion, editorial)>
<!ATTLIST libro
    ISBN CDATA #REQUIRED
    tipo CDATA #REQUIRED
>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (nombre, fechaNacimiento)>
<!ATTLIST autor
    nacidoEnEspaña (SI | NO) #REQUIRED
>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT fechaNacimiento (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT anioPublicacion (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
